{% import 'partials/menu.twig' as sidenav %}
{% extends 'pages/Region/baseRegion.twig' %}

{% block main %}
    {% include 'partials/vue-wrapper.twig' with {
        id: 'food-share-points-list',
        component: 'FoodSharePointsList',
        props: {
            regionId: region.id,
            regionName: region.name,
        }
    } %}
{% endblock %}

{% block right %}
    {{ sidenav.menu_tree({'items': {'href': '/fairteiler?bid=' ~ region.id ~ '&sub=add', 'name': 'fsp.new'|trans }}, 'options'|trans) }}
{% endblock %}
